{% set currentLocaleData = localeData or route.locale %}
{% set currentAssetPrefix = assetPrefix or route.assetPrefix %}
{% set f = currentLocaleData.footer %}
<!-- footer start -->
<div class="bg-gradient-to-r from-neutral-400 via-white to-neutral-400 p-1 mt-4">
  <div class="w-full md:w-4/5 lg:w-3/5 xl:w-1/2 2xl:w-2/5 mx-auto p-5 text-xs">
    <div class="grid grid-cols-2 sm:grid-cols-[auto_auto_1fr] gap-6 sm:gap-4 text-stone-800">
      <div>{{ f.contact }}<br />
        TEL: (052)262-3366<br />
        FAX: (052)262-3369<br />
        EMAIL: school@aiaso.gr.jp
      </div>
      <div>{{ f.hours }}: 9:00 - 17:30<br />
        {{ f.closed }}: {{ f.closedDays }}</div>
      <div class="col-span-2 sm:col-span-1">{{ f.address }}: 〒460-0007<br />
        {{ f.mainBuilding }}: {{ f.mainAddress }}<br />
        {{ f.annex }}: {{ f.annexAddress }}
      </div>
    </div>
    <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="block sm:hidden mb-2 text-stone-800">{{ f.sns }}:</div>
    <div class="grid grid-cols-2 sm:grid-cols-5 gap-3 mb-5 text-stone-800">
      <div class="w-24 hidden sm:block">{{ f.sns }}:</div>
      <div class="flex">
        <img src="{{ currentAssetPrefix }}images/teams.png" class="size-6 m-1" />
        <div><a href="https://teams.microsoft.com/l/chat/0/0?users=aiasoso" target="_blank" rel="noopener noreferrer">TEAMS<br />aiasoso</a></div>
      </div>
      <div class="flex">
        <img src="{{ currentAssetPrefix }}images/line.png" class="size-6 m-1" />
        <div><a href="line://ti/p/aiajapanese">LINE<br />aiajapanese</a></div>
      </div>
      <div class="flex">
        <img src="{{ currentAssetPrefix }}images/wechat.png" class="size-6 m-1" />
        <div><a href="weixin://dl/chat?aia2623366">WeChat<br />aia2623366</a></div>
      </div>
      <div class="flex">
        <img src="{{ currentAssetPrefix }}images/fb.svg.webp" class="size-6 m-1" />
        <div><a href="https://www.facebook.com/AIANagoya/" target="_blank">Facebook<br />AIANagoya</a></div>
      </div>
    </div>

    <div class="text-center my-2"><a href="index.html">HOME</a> | <a href="sitemap.html">{{ f.sitemap }}</a> | <a href="policy.html">{{ f.policy }}</a> | <a href="privacy.html">{{ f.privacy }}</a></div>
    <div class="text-center my-2">Copyright© Aichi International Academy All Rights Reserved.</div>
  </div>
</div>
<!-- footer end -->
